// Specific CSS for your home-page
h1 span{
  font-family: Luminari;
}
.jumbotron {
  background-image: linear-gradient(-225deg, rgba(134,134,134,0.6) 0%, rgba(210,191,222,0.4) 50%), url('https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2017/ismixingdrin.jpg');
  text-shadow: 0 1px 3px rgba(0,0,0,0.9);
  background-size: cover;
  background-position: top;
  color: white;
  height: 100vh;
  margin-bottom: 0px;
  display: flex;
  // align-items: center;
}
