<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Welcome to <span>DrinkFest</span></h1>
    <div class="lead">
      <p>
        <span id="banner-typed-text"></span>
      </p>
    </div>
    <div class="lead">
      <div class="btn">
        <%= link_to 'Browse all Drinks', cocktails_path, class: "button-banner" %>
      </div>
    </div>
  </div>
</div>
